SpotfireSOAPAPI/LibraryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://spotfire.tibco.com/ws/2008/11/faults.xsd" xmlns:ns1="http://spotfire.tibco.com/ws/2008/12/library.xsd" name="LibraryService" targetNamespace="http://spotfire.tibco.com/ws/2008/12/library.xsd">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spotfire.tibco.com/ws/2008/12/library.xsd" xmlns:ns4="http://spotfire.tibco.com/ws/2008/11/collections.xsd" xmlns:ns3="http://spotfire.tibco.com/ws/2008/11/library.xsd" xmlns:ns2="http://spotfire.tibco.com/ws/2008/10/userdir.xsd" xmlns:ns1="http://spotfire.tibco.com/ws/2008/11/common.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spotfire.tibco.com/ws/2008/12/library.xsd" version="1.0">
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/11/common.xsd"/>
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/10/userdir.xsd"/>
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/11/library.xsd"/>
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/11/collections.xsd"/>
  <xs:element name="copyItems" type="tns:copyItems"/>
  <xs:element name="copyItemsResponse" type="tns:copyItemsResponse"/>
  <xs:element name="deleteItems" type="tns:deleteItems"/>
  <xs:element name="deleteItemsResponse" type="tns:deleteItemsResponse"/>
  <xs:element name="guidToPath" type="tns:guidToPath"/>
  <xs:element name="guidToPathResponse" type="tns:guidToPathResponse"/>
  <xs:element name="key-value-pair" type="ns4:StringKeyValuePair"/>
  <xs:element name="listChildren" type="tns:listChildren"/>
  <xs:element name="listChildrenResponse" type="tns:listChildrenResponse"/>
  <xs:element name="listDependentItems" type="tns:listDependentItems"/>
  <xs:element name="listDependentItemsResponse" type="tns:listDependentItemsResponse"/>
  <xs:element name="listRemappedDependencies" type="tns:listRemappedDependencies"/>
  <xs:element name="listRemappedDependenciesResponse" type="tns:listRemappedDependenciesResponse"/>
  <xs:element name="loadContent" type="tns:loadContent"/>
  <xs:element name="loadContentResponse" type="tns:loadContentResponse"/>
  <xs:element name="loadItems" type="tns:loadItems"/>
  <xs:element name="loadItemsResponse" type="tns:loadItemsResponse"/>
  <xs:element name="loadModified" type="tns:loadModified"/>
  <xs:element name="loadModifiedResponse" type="tns:loadModifiedResponse"/>
  <xs:element name="loadTypes" type="tns:loadTypes"/>
  <xs:element name="loadTypesResponse" type="tns:loadTypesResponse"/>
  <xs:element name="loadVisibleTypes" type="tns:loadVisibleTypes"/>
  <xs:element name="loadVisibleTypesResponse" type="tns:loadVisibleTypesResponse"/>
  <xs:element name="moveItems" type="tns:moveItems"/>
  <xs:element name="moveItemsResponse" type="tns:moveItemsResponse"/>
  <xs:element name="pathToGuid" type="tns:pathToGuid"/>
  <xs:element name="pathToGuidResponse" type="tns:pathToGuidResponse"/>
  <xs:element name="saveItem" type="tns:saveItem"/>
  <xs:element name="saveItemResponse" type="tns:saveItemResponse"/>
  <xs:element name="search" type="tns:search"/>
  <xs:element name="searchResponse" type="tns:searchResponse"/>
  <xs:element name="tryDeleteItems" type="tns:tryDeleteItems"/>
  <xs:element name="tryDeleteItemsResponse" type="tns:tryDeleteItemsResponse"/>
  <xs:complexType name="copyItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="destination" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="conflictResolution" type="tns:ConflictResolution"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="copyItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="LibraryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="ns1:GUID"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="type" type="tns:ItemType"/>
      <xs:element minOccurs="0" name="formatVersion" type="xs:string"/>
      <xs:element name="parentId" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="createdBy" type="ns2:UserPrincipal"/>
      <xs:element minOccurs="0" name="modifiedBy" type="ns2:UserPrincipal"/>
      <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="modified" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="accessed" type="xs:dateTime"/>
      <xs:element name="size" type="xs:long"/>
      <xs:element minOccurs="0" name="path" type="xs:string"/>
      <xs:element name="hidden" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" type="tns:PropertyKeyValuePair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dependencies" type="tns:RequiredItem"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" type="tns:Permission"/>
      <xs:element minOccurs="0" name="content" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" name="fieldsSet" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="ItemType">
    <xs:sequence>
      <xs:element name="id" type="ns1:GUID"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="labelPrefix" type="xs:string"/>
      <xs:element name="displayName" type="xs:string"/>
      <xs:element name="container" type="xs:boolean"/>
      <xs:element minOccurs="0" name="fileSuffix" type="xs:string"/>
      <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredItem">
    <xs:sequence>
      <xs:element name="item" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="cascadingDelete" type="xs:boolean"/>
      <xs:element name="resolved" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="tns:LibraryItem"/>
      <xs:element minOccurs="0" name="attachmentID" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="labels" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadTypesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ItemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listDependentItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="types" type="tns:ItemType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listDependentItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:DependentItemsKeyValuePair"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DependentItemsKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameters" type="ns3:SearchParameters"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listRemappedDependencies">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listRemappedDependenciesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:StringKeyValuePair"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="destination" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="conflictResolution" type="tns:ConflictResolution"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadContentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadModified">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadModifiedResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns4:GuidDateKeyValuePair"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItemsResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="loadVisibleTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purposes" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadVisibleTypesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:VisibleTypesKeyValuePair"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VisibleTypesKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="tns:ItemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guidToPath">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guidToPathResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tryDeleteItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tryDeleteItemsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listChildren">
    <xs:sequence>
      <xs:element minOccurs="0" name="parent" type="ns1:GUID"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="types" type="tns:ItemType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" type="tns:Fields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listChildrenResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:LibraryItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pathToGuid">
    <xs:sequence>
      <xs:element minOccurs="0" name="path" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:ItemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pathToGuidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ConflictResolution">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KeepNew"/>
      <xs:enumeration value="KeepBoth"/>
      <xs:enumeration value="KeepOld"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Fields">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default"/>
      <xs:enumeration value="Properties"/>
      <xs:enumeration value="Permissions"/>
      <xs:enumeration value="Dependencies"/>
      <xs:enumeration value="Path"/>
      <xs:enumeration value="Content"/>
      <xs:enumeration value="External Content"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Permission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read"/>
      <xs:enumeration value="Write"/>
      <xs:enumeration value="Owner"/>
      <xs:enumeration value="Execute"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PropertyName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Title"/>
      <xs:enumeration value="Modified"/>
      <xs:enumeration value="Created"/>
      <xs:enumeration value="Accessed"/>
      <xs:enumeration value="Content-size"/>
      <xs:enumeration value="Description"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SortMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending"/>
      <xs:enumeration value="Descending"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://spotfire.tibco.com/ws/2008/12/library.xsd" xmlns:ns1="http://spotfire.tibco.com/ws/2008/11/common.xsd" xmlns="http://spotfire.tibco.com/ws/2008/11/library.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spotfire.tibco.com/ws/2008/11/library.xsd" version="1.0">
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/11/common.xsd"/>
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/12/library.xsd"/>
  <xs:complexType name="SearchParameters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="types" type="ns2:ItemType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="locations" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="expression" type="xs:string"/>
      <xs:element name="includeHiddenItems" type="xs:boolean"/>
      <xs:element name="maxResults" type="xs:int"/>
      <xs:element name="timeout" type="xs:int"/>
      <xs:element minOccurs="0" name="orderBy" type="ns2:PropertyName"/>
      <xs:element minOccurs="0" name="sortMode" type="ns2:SortMode"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="includedProperties" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spotfire.tibco.com/ws/2008/11/faults.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spotfire.tibco.com/ws/2008/11/faults.xsd" version="1.0">
  <xs:element name="FaultInfo" type="tns:FaultInfo"/>
  <xs:complexType name="FaultInfo">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibraryException" nillable="true" type="tns:FaultInfo"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://spotfire.tibco.com/ws/2008/11/common.xsd" version="1.0">

  <xs:simpleType name="GUID">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://spotfire.tibco.com/ws/2008/11/common.xsd" xmlns="http://spotfire.tibco.com/ws/2008/11/collections.xsd" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spotfire.tibco.com/ws/2008/11/collections.xsd" version="1.0">
  <xs:import namespace="http://spotfire.tibco.com/ws/2008/11/common.xsd"/>
  <xs:complexType name="StringKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="value" type="ns1:GUID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuidDateKeyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="ns1:GUID"/>
      <xs:element minOccurs="0" name="value" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spotfire.tibco.com/ws/2008/10/userdir.xsd" targetNamespace="http://spotfire.tibco.com/ws/2008/10/userdir.xsd" version="1.0">

  <xs:complexType final="extension restriction" name="UserPrincipal">
    <xs:complexContent>
      <xs:extension base="tns:SpotfirePrincipal">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="lastLogin" type="xs:dateTime"/>
          <xs:element name="locked" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SpotfirePrincipal">
    <xs:sequence>
      <xs:element minOccurs="0" name="compositeName" type="xs:string"/>
      <xs:element minOccurs="0" name="displayName" type="xs:string"/>
      <xs:element minOccurs="0" name="domainName" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="externalId" type="xs:string"/>
      <xs:element name="fixed" type="xs:boolean"/>
      <xs:element minOccurs="0" name="guid" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="GroupPrincipal">
    <xs:complexContent>
      <xs:extension base="tns:SpotfirePrincipal">
        <xs:sequence>
          <xs:element name="immutable" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="copyItems">
    <wsdl:part element="ns1:copyItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadItemsResponse">
    <wsdl:part element="ns1:loadItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="copyItemsResponse">
    <wsdl:part element="ns1:copyItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveItem">
    <wsdl:part element="ns1:saveItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRemappedDependenciesResponse">
    <wsdl:part element="ns1:listRemappedDependenciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadTypes">
    <wsdl:part element="ns1:loadTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guidToPathResponse">
    <wsdl:part element="ns1:guidToPathResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDependentItems">
    <wsdl:part element="ns1:listDependentItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="ns1:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRemappedDependencies">
    <wsdl:part element="ns1:listRemappedDependencies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveItems">
    <wsdl:part element="ns1:moveItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadContent">
    <wsdl:part element="ns1:loadContent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadModified">
    <wsdl:part element="ns1:loadModified" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadVisibleTypes">
    <wsdl:part element="ns1:loadVisibleTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LibraryException">
    <wsdl:part element="ns2:LibraryException" name="LibraryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guidToPath">
    <wsdl:part element="ns1:guidToPath" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveItemResponse">
    <wsdl:part element="ns1:saveItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItemsResponse">
    <wsdl:part element="ns1:deleteItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pathToGuid">
    <wsdl:part element="ns1:pathToGuid" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadItems">
    <wsdl:part element="ns1:loadItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tryDeleteItemsResponse">
    <wsdl:part element="ns1:tryDeleteItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadTypesResponse">
    <wsdl:part element="ns1:loadTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadContentResponse">
    <wsdl:part element="ns1:loadContentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pathToGuidResponse">
    <wsdl:part element="ns1:pathToGuidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveItemsResponse">
    <wsdl:part element="ns1:moveItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadVisibleTypesResponse">
    <wsdl:part element="ns1:loadVisibleTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadModifiedResponse">
    <wsdl:part element="ns1:loadModifiedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="ns1:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItems">
    <wsdl:part element="ns1:deleteItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listChildrenResponse">
    <wsdl:part element="ns1:listChildrenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDependentItemsResponse">
    <wsdl:part element="ns1:listDependentItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tryDeleteItems">
    <wsdl:part element="ns1:tryDeleteItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listChildren">
    <wsdl:part element="ns1:listChildren" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LibraryService">
    <wsdl:operation name="copyItems">
      <wsdl:input message="ns1:copyItems" name="copyItems">
    </wsdl:input>
      <wsdl:output message="ns1:copyItemsResponse" name="copyItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveItem">
      <wsdl:input message="ns1:saveItem" name="saveItem">
    </wsdl:input>
      <wsdl:output message="ns1:saveItemResponse" name="saveItemResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadItems">
      <wsdl:input message="ns1:loadItems" name="loadItems">
    </wsdl:input>
      <wsdl:output message="ns1:loadItemsResponse" name="loadItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadTypes">
      <wsdl:input message="ns1:loadTypes" name="loadTypes">
    </wsdl:input>
      <wsdl:output message="ns1:loadTypesResponse" name="loadTypesResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listDependentItems">
      <wsdl:input message="ns1:listDependentItems" name="listDependentItems">
    </wsdl:input>
      <wsdl:output message="ns1:listDependentItemsResponse" name="listDependentItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="ns1:search" name="search">
    </wsdl:input>
      <wsdl:output message="ns1:searchResponse" name="searchResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listRemappedDependencies">
      <wsdl:input message="ns1:listRemappedDependencies" name="listRemappedDependencies">
    </wsdl:input>
      <wsdl:output message="ns1:listRemappedDependenciesResponse" name="listRemappedDependenciesResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveItems">
      <wsdl:input message="ns1:moveItems" name="moveItems">
    </wsdl:input>
      <wsdl:output message="ns1:moveItemsResponse" name="moveItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadContent">
      <wsdl:input message="ns1:loadContent" name="loadContent">
    </wsdl:input>
      <wsdl:output message="ns1:loadContentResponse" name="loadContentResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadModified">
      <wsdl:input message="ns1:loadModified" name="loadModified">
    </wsdl:input>
      <wsdl:output message="ns1:loadModifiedResponse" name="loadModifiedResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItems">
      <wsdl:input message="ns1:deleteItems" name="deleteItems">
    </wsdl:input>
      <wsdl:output message="ns1:deleteItemsResponse" name="deleteItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadVisibleTypes">
      <wsdl:input message="ns1:loadVisibleTypes" name="loadVisibleTypes">
    </wsdl:input>
      <wsdl:output message="ns1:loadVisibleTypesResponse" name="loadVisibleTypesResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guidToPath">
      <wsdl:input message="ns1:guidToPath" name="guidToPath">
    </wsdl:input>
      <wsdl:output message="ns1:guidToPathResponse" name="guidToPathResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="tryDeleteItems">
      <wsdl:input message="ns1:tryDeleteItems" name="tryDeleteItems">
    </wsdl:input>
      <wsdl:output message="ns1:tryDeleteItemsResponse" name="tryDeleteItemsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listChildren">
      <wsdl:input message="ns1:listChildren" name="listChildren">
    </wsdl:input>
      <wsdl:output message="ns1:listChildrenResponse" name="listChildrenResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pathToGuid">
      <wsdl:input message="ns1:pathToGuid" name="pathToGuid">
    </wsdl:input>
      <wsdl:output message="ns1:pathToGuidResponse" name="pathToGuidResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:LibraryException" name="LibraryException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>